<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ This file is part of graze/parallel-process.
  ~
  ~ Copyright (c) 2017 Nature Delivered Ltd. <https://www.graze.com>
  ~
  ~ For the full copyright and license information, please view the LICENSE
  ~ file that was distributed with this source code.
  ~
  ~ @license https://github.com/graze/parallel-process/blob/master/LICENSE.md
  ~ @link    https://github.com/graze/parallel-process
  -->

<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/unit</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/</directory>
        </whitelist>
    </filter>
    <listeners>
        <listener class="Mockery\Adapter\Phpunit\TestListener"/>
    </listeners>
</phpunit>
